## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Load datas in pandas dataframe

In [11]:
df = pd.read_csv('./Invoice_20201220.csv', sep ="|", encoding ="utf-8")

## Show datas

In [13]:
print(df.head())

            SITE_NAME INVOICE_NAME       BEGIN         END KWH_PERIOD  \
0  12345_GEO (0001BB)   1300082549  01/01/2018  31/01/2018      2 447
1  12345_GEO (0001BB)   1300082549  01/02/2018  28/02/2018      2 211
2  12345_GEO (0001BB)   1300082549  01/03/2018  31/03/2018      2 450
3  12345_GEO (0001BB)   1300082549  01/04/2018  30/04/2018      2 431
4  12345_GEO (0001BB)   1300082549  01/05/2018  31/05/2018      2 574

  PERIOD_EUR
0     316,46
1     286,82
2     317,32
3     315,00
4     333,37

In [10]:
df.head(20)

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,NB_OF_INVOICES
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46",35
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82",35
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32",35
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00",35
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37",35
5,12345_GEO (0001BB),1300082549,01/06/2018,30/06/2018,2 830,"365,27",35
6,12345_GEO (0001BB),1300082549,01/07/2018,31/07/2018,3 028,"390,39",35
7,12345_GEO (0001BB),1300082549,01/08/2018,31/08/2018,3 053,"393,99",35
8,12345_GEO (0001BB),1300082549,01/09/2018,30/09/2018,2 915,"378,35",35
9,12345_GEO (0001BB),1300082549,01/10/2018,31/10/2018,2 986,"387,05",35
10,12345_GEO (0001BB),1300082549,01/11/2018,30/11/2018,2 871,"372,47",35
11,12345_GEO (0001BB),1300082549,01/12/2018,31/12/2018,3 086,"399,30",35
12,12345_GEO (0001BB),1300082549,01/01/2019,31/01/2019,3 094,"381,40",35
13,12345_GEO (0001BB),1300082549,01/02/2019,28/02/2019,2 767,"345,87",35
14,12345_GEO (0001BB),1300082549,01/03/2019,31/03/2019,3 059,"378,18",35
15,12345_GEO (0001BB),1300082549,01/04/2019,30/04/2019,2 761,"340,84",35
16,12345_GEO (0001BB),1300082549,01/05/2019,31/05/2019,2 844,"349,26",35
17,12345_GEO (0001BB),1300082549,01/06/2019,30/06/2019,3 009,"369,19",35
18,12345_GEO (0001BB),1300082549,01/07/2019,31/07/2019,3 016,"371,20",35
19,12345_GEO (0001BB),1300082549,01/08/2019,31/08/2019,3 089,"380,42",35

## 1) Le nom d'une antenne a un format bien précis : il est toujours composé de 4 chiffres et de deux lettres. On te demande de retirer tout autre caractère de la colonne "SITE_NAME".

In [4]:
print(df["SITE_NAME"])

0        12345_GEO (0001BB)
1        12345_GEO (0001BB)
2        12345_GEO (0001BB)
3        12345_GEO (0001BB)
4        12345_GEO (0001BB)
                ...
51427    19767_GEO (0632KO)
51428    19767_GEO (0632KO)
51429    19767_GEO (0632KO)
51430    19767_GEO (0632KO)
51431    19883_GEO (1203KO)
Name: SITE_NAME, Length: 51432, dtype: object

In [19]:
df['SITE'] = df['SITE_NAME'].str[11:17]
df

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46",0001BB
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82",0001BB
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32",0001BB
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00",0001BB
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37",0001BB
...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18",0632KO
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57",0632KO
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55",0632KO
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07",0632KO
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96",1203KO

## 2) On te demande de supprimer la colonne "INVOICE_NAME" qui n'apporte rien aux équipes.

In [20]:
df = df.drop(['INVOICE_NAME'], axis=1)
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE
0,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,"316,46",0001BB
1,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,"286,82",0001BB
2,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,"317,32",0001BB
3,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,"315,00",0001BB
4,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,"333,37",0001BB
...,...,...,...,...,...,...
51427,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,"397,18",0632KO
51428,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,"283,57",0632KO
51429,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,"312,55",0632KO
51430,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,"294,07",0632KO
51431,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,"681,96",1203KO

In [7]:
df['NB_OF_INVOICES'] = df.groupby(['SITE_NAME'])['SITE_NAME'].transform('count')
df

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,NB_OF_INVOICES
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46",35
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82",35
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32",35
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00",35
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37",35
...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18",4
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57",4
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55",4
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07",4
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96",1

## 3) Il y a des antennes pour lesquelles on a des factures mensuelles tandis que pour d'autres, on les reçoit moins régulièrement (trimestre, semestre, année). Ajoute une colonne à ton tableau qui calcule le nombre de jours entre le début de la période de facturation et la fin de la période de facturation.

In [22]:
import datetime
df[['BEGIN','END']] = df[['BEGIN','END']].apply(pd.to_datetime)
df

                SITE_NAME      BEGIN        END KWH_PERIOD PERIOD_EUR    SITE
0      12345_GEO (0001BB) 2018-01-01 2018-01-31      2 447     316,46  0001BB
1      12345_GEO (0001BB) 2018-01-02 2018-02-28      2 211     286,82  0001BB
2      12345_GEO (0001BB) 2018-01-03 2018-03-31      2 450     317,32  0001BB
3      12345_GEO (0001BB) 2018-01-04 2018-04-30      2 431     315,00  0001BB
4      12345_GEO (0001BB) 2018-01-05 2018-05-31      2 574     333,37  0001BB
...                   ...        ...        ...        ...        ...     ...
51427  19767_GEO (0632KO) 2019-08-30 2019-12-31      3 028     397,18  0632KO
51428  19767_GEO (0632KO) 2020-01-01 2020-03-31      2 163     283,57  0632KO
51429  19767_GEO (0632KO) 2020-01-04 2020-06-30      2 160     312,55  0632KO
51430  19767_GEO (0632KO) 2020-01-07 2020-09-30      2 230     294,07  0632KO
51431  19883_GEO (1203KO) 2019-09-27 2019-12-31      4 745     681,96  1203KO

[51432 rows x 6 columns]

In [25]:
df['DUREE']=(df['END']-df['BEGIN']).dt.days.astype('Int64')
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146
...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95

## 4) A partir de cette nouvelle colonne, crée une autre colonne qui nous donne la consommation journalière moyenne de la période.

In [26]:
df.dtypes

SITE_NAME             object
BEGIN         datetime64[ns]
END           datetime64[ns]
KWH_PERIOD            object
PERIOD_EUR            object
SITE                  object
DUREE                  Int64
dtype: object

### Espace dans le string, donc suppression ci-dessous

In [27]:
df['KWH'] = df['KWH_PERIOD'].str[0:1] + df['KWH_PERIOD'].str[2:]
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE,KWH
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30,2447
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57,2211
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87,2450
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116,2431
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146,2574
...,...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123,3028
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90,2163
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178,2160
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267,2230
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95,4745

In [28]:
df.dtypes

SITE_NAME             object
BEGIN         datetime64[ns]
END           datetime64[ns]
KWH_PERIOD            object
PERIOD_EUR            object
SITE                  object
DUREE                  Int64
KWH                   object
dtype: object

In [30]:
df['KWH'] = pd.to_numeric(df['KWH'], errors='coerce').fillna(0).astype(np.int64)
df.dtypes

SITE_NAME             object
BEGIN         datetime64[ns]
END           datetime64[ns]
KWH_PERIOD            object
PERIOD_EUR            object
SITE                  object
DUREE                  Int64
KWH                    int64
dtype: object

In [31]:
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE,KWH
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30,2447
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57,2211
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87,2450
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116,2431
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146,2574
...,...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123,3028
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90,2163
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178,2160
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267,2230
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95,4745

In [32]:
df['CONSOMMATION'] = df['KWH'] / df['DUREE']
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE,KWH,CONSOMMATION
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30,2447,81.566667
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57,2211,38.789474
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87,2450,28.16092
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116,2431,20.956897
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146,2574,17.630137
...,...,...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123,3028,24.617886
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90,2163,24.033333
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178,2160,12.134831
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267,2230,8.35206
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95,4745,49.947368

## 5) Merci d'ajouter également une colonne qui donne, pour chaque antenne, le nombre de factures dont on dispose au total. Pas grave si l'information se répète à chaque ligne pour une même antenne.

In [33]:
df['SITE'].value_counts()

1600BR    105
2079BR     70
1089BR     70
4060BR     70
0051KO     37
         ...
1442BR      1
1203KO      1
4012KO      1
1106KO      1
0630KO      1
Name: SITE, Length: 2403, dtype: int64

In [34]:
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE,KWH,CONSOMMATION
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30,2447,81.566667
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57,2211,38.789474
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87,2450,28.16092
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116,2431,20.956897
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146,2574,17.630137
...,...,...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123,3028,24.617886
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90,2163,24.033333
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178,2160,12.134831
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267,2230,8.35206
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95,4745,49.947368

In [35]:
df['NB_OF_INVOICES'] = df.groupby(['SITE'])['SITE'].transform('count')
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE,DUREE,KWH,CONSOMMATION,NB_OF_INVOICES
0,12345_GEO (0001BB),2018-01-01,2018-01-31,2 447,"316,46",0001BB,30,2447,81.566667,35
1,12345_GEO (0001BB),2018-01-02,2018-02-28,2 211,"286,82",0001BB,57,2211,38.789474,35
2,12345_GEO (0001BB),2018-01-03,2018-03-31,2 450,"317,32",0001BB,87,2450,28.16092,35
3,12345_GEO (0001BB),2018-01-04,2018-04-30,2 431,"315,00",0001BB,116,2431,20.956897,35
4,12345_GEO (0001BB),2018-01-05,2018-05-31,2 574,"333,37",0001BB,146,2574,17.630137,35
...,...,...,...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),2019-08-30,2019-12-31,3 028,"397,18",0632KO,123,3028,24.617886,4
51428,19767_GEO (0632KO),2020-01-01,2020-03-31,2 163,"283,57",0632KO,90,2163,24.033333,4
51429,19767_GEO (0632KO),2020-01-04,2020-06-30,2 160,"312,55",0632KO,178,2160,12.134831,4
51430,19767_GEO (0632KO),2020-01-07,2020-09-30,2 230,"294,07",0632KO,267,2230,8.35206,4
51431,19883_GEO (1203KO),2019-09-27,2019-12-31,4 745,"681,96",1203KO,95,4745,49.947368,1

## 6) Et information bonus si tu y arrives : les équipes aimeraient beaucoup avoir une liste de toutes les antennes avec, pour chaque antenne, le coefficient de variation de la consommation. Cela permettra d'avoir une idée, pour chaque antenne, de la dispersion de sa consommation d'énergie.

In [36]:
df.to_csv('Electricite.csv', index = False , sep=";", encoding='utf-8')

## 7) Enfin, tu dois exporter ces deux fichiers obtenus pour pouvoir l'envoyer aux équipes de l'opérateur et leur demander si c'est bien cela qu'ils attendaient de toi.