## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Load datas in pandas dataframe

In [2]:
df = pd.read_csv('./Invoice_20201220.csv')

## Show datas

In [3]:
print(df.head())

                                                    SITE_NAME|INVOICE_NAME|BEGIN|END|KWH_PERIOD|PERIOD_EUR
12345_GEO (0001BB)|1300082549|01/01/2018|31/01/...                                                 46
12345_GEO (0001BB)|1300082549|01/02/2018|28/02/...                                                 82
12345_GEO (0001BB)|1300082549|01/03/2018|31/03/...                                                 32
12345_GEO (0001BB)|1300082549|01/04/2018|30/04/...                                                  0
12345_GEO (0001BB)|1300082549|01/05/2018|31/05/...                                                 37

## 1) Le nom d'une antenne a un format bien précis : il est toujours composé de 4 chiffres et de deux lettres. On te demande de retirer tout autre caractère de la colonne "SITE_NAME".

In [12]:
#print(df["SITE_NAME"])

## 2) On te demande de supprimer la colonne "INVOICE_NAME" qui n'apporte rien aux équipes.

In [28]:
#df.dropna(["INVOICE_NAME"], axis = 1, inplace = True)

In [29]:
df.dropna(how='all')

Empty DataFrame
Columns: [SITE_NAME, BEGIN, END, KWH_PERIOD, PERIOD_EUR]
Index: []

In [30]:
df.dropna(thresh=2)

Empty DataFrame
Columns: [SITE_NAME, BEGIN, END, KWH_PERIOD, PERIOD_EUR]
Index: []

In [33]:
df.dropna(inplace=True)
df

Empty DataFrame
Columns: [SITE_NAME, BEGIN, END, KWH_PERIOD, PERIOD_EUR]
Index: []

## 3) Il y a des antennes pour lesquelles on a des factures mensuelles tandis que pour d'autres, on les reçoit moins régulièrement (trimestre, semestre, année). Ajoute une colonne à ton tableau qui calcule le nombre de jours entre le début de la période de facturation et la fin de la période de facturation.

## 4) A partir de cette nouvelle colonne, crée une autre colonne qui nous donne la consommation journalière moyenne de la période.

## 5) Merci d'ajouter également une colonne qui donne, pour chaque antenne, le nombre de factures dont on dispose au total. Pas grave si l'information se répète à chaque ligne pour une même antenne.

## 6) Et information bonus si tu y arrives : les équipes aimeraient beaucoup avoir une liste de toutes les antennes avec, pour chaque antenne, le coefficient de variation de la consommation. Cela permettra d'avoir une idée, pour chaque antenne, de la dispersion de sa consommation d'énergie.

## 7) Enfin, tu dois exporter ces deux fichiers obtenus pour pouvoir l'envoyer aux équipes de l'opérateur et leur demander si c'est bien cela qu'ils attendaient de toi.